<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.utep.cs.pickax.fpms" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!--Maps Permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fpms"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="keyhere"/>

        <activity
            android:name=".Start"
            android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".CreateFlightPlan"
            android:label="@string/title_activity_create_flight_plan" >
        </activity>
        <activity
            android:name=".RouteDetails"
            android:label="@string/title_activity_route_details" >
        </activity>
        <activity
            android:name=".ArchivedRoutes"
            android:label="@string/title_activity_archived_routes"
            android:parentActivityName=".CreateFlightPlan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CreateFlightPlan" />
        </activity>
        <activity
            android:name=".CustomRoutes"
            android:label="@string/title_activity_custom_routes" >
        </activity>
        <activity
            android:name=".ManageFlightPlans"
            android:label="@string/title_activity_manage_flight_plans"
            android:parentActivityName=".Start" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Start" />
        </activity>
        <activity
            android:name=".CreateAircraft"
            android:label="@string/title_activity_create_aircraft" >
        </activity>
        <activity
            android:name=".ManageResources"
            android:label="@string/title_activity_manage_resources"
            android:parentActivityName=".Start" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Start" />
        </activity>
        <activity
            android:name=".SetPreferences"
            android:label="@string/title_activity_view__set_preferences"
            android:parentActivityName=".Start" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Start" />
        </activity>
        <activity
            android:name=".StartFlight"
            android:label="@string/title_activity_view__start_flight"
            android:parentActivityName=".Start" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Start" />
        </activity>
        <activity
            android:name=".InFlight"
            android:label="@string/title_activity_in_flight"
            android:parentActivityName=".Start" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartFlight" />
        </activity>
    </application>

</manifest>
