<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.utep.cs.pickax.fpms" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Start"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateFlightPlan"
            android:label="@string/title_activity_create_flight_plan" >
        </activity>
        <activity
            android:name=".RouteDetails"
            android:label="@string/title_activity_route_details" >
        </activity>
        <activity
            android:name=".ArchivedRoutes"
            android:label="@string/title_activity_archived_routes"
            android:parentActivityName=".CreateFlightPlan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.utep.cs.pickax.fpms.CreateFlightPlan" />
        </activity>
        <activity
            android:name=".CustomRoutes"
            android:label="@string/title_activity_custom_routes" >
        </activity>
        <activity
            android:name=".ManageFlightPlans"
            android:label="@string/title_activity_manage_flight_plans"
            android:parentActivityName=".Start" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.utep.cs.pickax.fpms.Start" />
        </activity>
        <activity
            android:name=".CreateAircraft"
            android:label="@string/title_activity_create_aircraft" >
        </activity>
        <activity
            android:name=".ManageResources"
            android:label="@string/title_activity_manage_resources"
            android:parentActivityName=".Start" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.utep.cs.pickax.fpms.Start" />
        </activity>
        <activity
            android:name=".View_SetPreferences"
            android:label="@string/title_activity_view__set_preferences"
            android:parentActivityName=".Start" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.utep.cs.pickax.fpms.Start" />
        </activity>
        <activity
            android:name=".View_StartFlight"
            android:label="@string/title_activity_view__start_flight" >
        </activity>
    </application>

</manifest>
